
var AboutBody = React.createClass({
  render() {
    return (
    <div className="about-body">
      <div className="container">
        <div id="about-container">
          <div className="row">
            <div className="col s4 about_anchor">
              <%= image_tag 'about-cartoon-anchor', className: "cartoon" %>
                <p className="text-about">Sign up with your Census account.</p>
            </div>
            <div className="col s4 about_pirate">
              <%= image_tag 'about-cartoon-pirate-parrot', className: "cartoon" %>
                <p className="text-about">Finish your profile as a mentor or start browsing as a student.</p>
            </div>
            <div className="col s4 about-parrot">
              <%= image_tag 'about-cartoon-treasure-chest' %>
              <p className="text-about">Browse the index to find with the right mentor/mentee for you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    )
  }
});
