/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

/*turing-blue: #05c2d1;*/



h3 {
  font-size: 22px;
  color: #05c2d1;
}

h1 {
  text-align: center;
  color: #05c2d1;
  text-shadow: 2px 2px 2px #000;
  font-size: 45px;
  font-weight: 400;
  padding-left: 100px;
}

td > h6 {
  padding-top: 0px;
  margin: 0px;
}

#header-about {
  text-align: center;
  color: black;
  text-shadow: 2px 2px 2px #000;
  font-size: 45px;
  font-weight: 400;
  margin-right: 50px;
  margin-bottom: -50px;
}

#ahoy-about {
  padding-top: 50px;
  padding-left: 40px;
  padding-bottom: -100px;
  text-align: center;
  font-size: 38px;
  font-family: 'Dancing Script', cursive;
  text-shadow: 2px 2px 20px #05c2d1
}

.filter-mentors {
  font-size: 15px;
  color: #7c8c8e;
  text-shadow: 1px 1px 1px #05c2d1;
}

body {
  font-family: 'Raleway', sans-serif;
}

nav {
  background-color: grey;
  width: 100%;
}

nav .brand-logo {
  font-size: 24px;
  text-shadow: 2px 2px 10px #000;
  margin-left: 30px;
}

.ship-word-navbar {
  color: #05c2d1;
}

.index-banner {
  height: 715px;
  background-image: url(/assets/mentorship-f0ec2f67c91c4d7b22c102d709d2d61182fe7e0a5a0f40cb79bab2a27a4e3707.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin-top: -100px;
  z-index: -100;
}

/* About Page*/
div.col.s4 > img {
  height: 250px;
  width: auto;
}

#about-container {
  padding-top: 50px;
}

.about_parrot {
  padding-left: 70px;
  padding-right: 50px;
  color: red;
}

.text-about {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.mentor-pic-icon {
  width: 300px;
  height: 320px;
}

.cartoon {
  padding-left: 55px;
}

.about-body {
  height: 800px;
  margin-top: -152px;
  background: url(ocean.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 50%;
}

#landing-header {
  color: white;
  font-size: 58px;
  padding-left: 630px;
  outline: black;
  text-shadow: 2px 2px 10px #000;
  margin-top: -10px;
}

.mentor-word-landing {
  color: #05c2d1;
}

#header-all-aboard {
  font-family: 'Dancing Script', cursive;
  font-size: 56px;
  padding-top: 120px;
  padding-left: 880px;
  color: white;
  text-shadow: 2px 2px 20px #05c2d1
}

h6 {
  font-size: 22px;
}

.edit-headers {
  color: #05c2d1;
  font-weight: bolder;
  text-shadow: 1px 1px 1px #000;
  padding-left: 10px;
}

#location-show-header {
  padding-top: 20px;
}

h6 {
  padding-top: 15px;
}

.edit-page {
  padding-top: 10px;
}

button a {
  color: black;
}

select {
  display: flex;
}

.form-area {
  background-color: #F0EEED;
  border-radius: 2%;
}

.form-area-show {
  background-color: #F0EEED;
  border-radius: 2%;
  padding-left: 30px;
  width: 400px;
  height: 400px;
}


::-webkit-input-placeholder {
  padding-left: 10px;
}

input[type=text] {
  margin-left: 10px;
  width: 90%;
}

.welcome-edit {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 34px;
  text-shadow: 2px 2px 10px #05c2d1;
}

.edit-instructions {
  text-align: center;
  padding-bottom: 20px;
  font-size: 22px;
}

.edit-submit-button {
  margin-top: 10px;
}

#acceptingButton {
  display: inline;
}

#mentor-show-name {
  font-family: 'Dancing Script', cursive;
  text-shadow: 2px 2px 10px #05c2d1;
  color: black;
  font-size: 28px;
}

#mentor-show-header {
  margin-left: -100px;
}

.census-data::-webkit-input-placeholder {
  color: black;
}

.image-row {
  margin-top: 150px;
}
